@import './colors.scss';
@import './mixins.scss';

.fondo1 {
  @include fondoDiv($miColor1, $miColor2, $miColor3);
}
.fondo2 {
  @include fondoDiv($miColor3, $miColor4, $miColor2);
}
.fondo3 {
  @include fondoDiv($miColor3, $miColor3, $miColor1);
}
