.App {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 5px;
  border-radius: 8px;
}

input:focus {
  border: 0px;
}
